.field--image img, .field--images img {
  display: block;
  max-width: 100%;
}

.section {
  position: relative;
  overflow-x: hidden;
  --grid--side-padding--small: 10px;
  --grid--side-padding--large: 70px;
  --grid--vertical-padding--none: 0;
  --grid--vertical-padding--thin: 2px;
  --grid--vertical-padding--small: 10px;
  --grid--vertical-padding--large: var(--grid--vertical-padding--small);
}
.section--limited, .section--padded {
  padding-left: var(--grid--side-padding--small);
  padding-right: var(--grid--side-padding--small);
}
@media (min-width: 1340px) {
  .section--limited, .section--padded {
    padding-left: calc((100vw - 1320px) / 2);
    padding-right: calc((100vw - 1320px) / 2);
  }
}
@media (min-width: 1460px) {
  .section--padded {
    padding-left: var(--grid--side-padding--large);
    padding-right: var(--grid--side-padding--large);
  }
}
@media (min-width: 768px) and (max-width: 1319px) {
  .section {
    --grid--vertical-padding--small: 20px;
  }
}
@media (min-width: 1320px) {
  .section {
    --grid--vertical-padding--small: 30px;
  }
}
@media (min-width: 1024px) and (max-width: 1319px) {
  .section {
    --grid--vertical-padding--large: 40px;
  }
}
@media (min-width: 1320px) {
  .section {
    --grid--vertical-padding--large: 70px;
  }
}
.section--tp-none {
  padding-top: var(--grid--vertical-padding--none);
}
.section--bp-none {
  padding-bottom: var(--grid--vertical-padding--none);
}
.section--tp-thin {
  padding-top: var(--grid--vertical-padding--thin);
}
.section--bp-thin {
  padding-bottom: var(--grid--vertical-padding--thin);
}
.section--tp-small {
  padding-top: var(--grid--vertical-padding--small);
}
.section--bp-small {
  padding-bottom: var(--grid--vertical-padding--small);
}
.section--tp-large {
  padding-top: var(--grid--vertical-padding--large);
}
.section--bp-large {
  padding-bottom: var(--grid--vertical-padding--large);
}
.section--tp-1rem {
  padding-top: 1rem;
}
.section--bp-1rem {
  padding-bottom: 1rem;
}
.section--tp-2rem {
  padding-top: 2rem;
}
.section--bp-2rem {
  padding-bottom: 2rem;
}
.section--tp-3rem {
  padding-top: 3rem;
}
.section--bp-3rem {
  padding-bottom: 3rem;
}
.section--tp-4rem {
  padding-top: 4rem;
}
.section--bp-4rem {
  padding-bottom: 4rem;
}
.section--tp-5rem {
  padding-top: 5rem;
}
.section--bp-5rem {
  padding-bottom: 5rem;
}
.section--tp-6rem {
  padding-top: 6rem;
}
.section--bp-6rem {
  padding-bottom: 6rem;
}
.section--tp-7rem {
  padding-top: 7rem;
}
.section--bp-7rem {
  padding-bottom: 7rem;
}
.section--tp-8rem {
  padding-top: 8rem;
}
.section--bp-8rem {
  padding-bottom: 8rem;
}
.section--tp-9rem {
  padding-top: 9rem;
}
.section--bp-9rem {
  padding-bottom: 9rem;
}

/*
$wrapper--cols: (
  '1-1': 1fr 1fr,
  '1-2': 1fr 2fr,
  '2-1': 2fr 1fr,
  '2-3': 2fr 3fr,
  '3-2': 3fr 2fr,
  '1-4': 1fr 4fr,
  '4-1': 4fr 1fr,
  '1-1-1': 1fr 1fr 1fr,
  '4-3-3': 4fr 3fr 3fr,
  '3-4-3': 3fr 4fr 3fr,
  '3-3-4': 3fr 3fr 4fr,
  '2-1-1': 2fr 1fr 1fr,
  '1-2-1': 1fr 2fr 1fr,
  '1-1-2': 1fr 1fr 2fr,
  '3-1-1': 3fr 1fr 1fr,
  '1-3-1': 1fr 3fr 1fr,
  '1-1-3': 1fr 1fr 3fr,
) !default;
*/
.wrapper {
  position: relative;
  display: grid;
  align-items: stretch;
  --grid--gap--none: var(--grid--vertical-padding--none);
  --grid--gap--thin: var(--grid--vertical-padding--thin);
  --grid--gap--small: var(--grid--vertical-padding--small);
  --grid--gap--large: var(--grid--vertical-padding--large);
}
.wrapper--cols-1-1 {
  grid-template-columns: 50% 50%;
}
.wrapper--cols-1-2 {
  grid-template-columns: 33.3333% 66.6667%;
}
.wrapper--cols-2-1 {
  grid-template-columns: 66.6667% 33.3333%;
}
.wrapper--cols-2-3 {
  grid-template-columns: 40% 60%;
}
.wrapper--cols-3-2 {
  grid-template-columns: 60% 40%;
}
.wrapper--cols-1-4 {
  grid-template-columns: 20% 80%;
}
.wrapper--cols-4-1 {
  grid-template-columns: 80% 20%;
}
.wrapper--cols-1-1-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
}
.wrapper--cols-4-3-3 {
  grid-template-columns: 40% 30% 30%;
}
.wrapper--cols-3-4-3 {
  grid-template-columns: 30% 40% 30%;
}
.wrapper--cols-3-3-4 {
  grid-template-columns: 30% 30% 40%;
}
.wrapper--cols-2-1-1 {
  grid-template-columns: 50% 25% 25%;
}
.wrapper--cols-1-2-1 {
  grid-template-columns: 25% 50% 25%;
}
.wrapper--cols-1-1-2 {
  grid-template-columns: 25% 25% 50%;
}
.wrapper--cols-3-1-1 {
  grid-template-columns: 60% 20% 20%;
}
.wrapper--cols-1-3-1 {
  grid-template-columns: 20% 60% 20%;
}
.wrapper--cols-1-1-3 {
  grid-template-columns: 20% 20% 60%;
}
.wrapper--rows-1-1 {
  grid-template-rows: 1fr 1fr;
}
.wrapper--rows-min-min {
  grid-template-rows: min-content min-content;
}
.wrapper--rows-1-min {
  grid-template-rows: 1fr min-content;
}
.wrapper--rows-min-1 {
  grid-template-rows: min-content 1fr;
}
.wrapper--rows-1 {
  grid-template-rows: 1fr;
}
.wrapper--rows-min {
  grid-template-rows: min-content;
}
.wrapper--gap-none, .wrapper--gap-none {
  margin-left: calc(var(--grid--gap--none) * -1 / 2);
  margin-right: calc(var(--grid--gap--none) * -1 / 2);
  row-gap: var(--grid--gap--none);
}
.wrapper--gap-thin, .wrapper--gap-thin {
  margin-left: calc(var(--grid--gap--thin) * -1 / 2);
  margin-right: calc(var(--grid--gap--thin) * -1 / 2);
  row-gap: var(--grid--gap--thin);
}
.wrapper--gap-small, .wrapper--gap-small {
  margin-left: calc(var(--grid--gap--small) * -1 / 2);
  margin-right: calc(var(--grid--gap--small) * -1 / 2);
  row-gap: var(--grid--gap--small);
}
.wrapper--gap-large, .wrapper--gap-large {
  margin-left: calc(var(--grid--gap--large) * -1 / 2);
  margin-right: calc(var(--grid--gap--large) * -1 / 2);
  row-gap: var(--grid--gap--large);
}
@media (max-width: 767px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
  }
}

.area {
  display: flex;
  flex-flow: row wrap;
}
.area > * {
  width: 100%;
}
.area--vertical-align-top {
  align-content: flex-start;
}
.area--vertical-align-center {
  align-content: center;
}
.area--vertical-align-bottom {
  align-content: flex-end;
}
.area--vertical-align-stretch {
  align-content: stretch;
}
.area--vertical-align-space-between {
  align-content: space-between;
}
.area--vertical-align-space-around {
  align-content: space-around;
}
.area--background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.area--gap-none {
  padding-left: calc(var(--grid--gap--none) / 2);
  padding-right: calc(var(--grid--gap--none) / 2);
}
.area--gap-thin {
  padding-left: calc(var(--grid--gap--thin) / 2);
  padding-right: calc(var(--grid--gap--thin) / 2);
}
.area--gap-small {
  padding-left: calc(var(--grid--gap--small) / 2);
  padding-right: calc(var(--grid--gap--small) / 2);
}
.area--gap-large {
  padding-left: calc(var(--grid--gap--large) / 2);
  padding-right: calc(var(--grid--gap--large) / 2);
}

.area--vertical-align-stretch .block, .area--vertical-align-stretch .field, .area--vertical-align-stretch .field__item--type-entity_reference, .area--vertical-align-stretch .field__item--type-entity_reference > * {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.section--onerow {
  padding-bottom: 0;
}

.wrapper--onerow {
  display: flex;
  flex-flow: row wrap;
}
.wrapper--onerow-flex-start {
  justify-content: flex-start;
}
.wrapper--onerow-center {
  justify-content: center;
}
.wrapper--onerow-flex-end {
  justify-content: flex-end;
}
.wrapper--onerow-space-between {
  justify-content: space-between;
}
.wrapper--onerow-space-evenly {
  justify-content: space-evenly;
}
.wrapper--onerow-space-between {
  justify-content: space-between;
}

.area--onerow.area--vertical-align-start {
  align-self: flex-start;
}
.area--onerow.area--vertical-align-center {
  align-self: center;
}
.area--onerow.area--vertical-align-end {
  align-self: flex-end;
}
.area--onerow-divide\@xs-up {
  flex: 1 1 0;
}
.area--onerow-1-1\@xs-up {
  flex: 0 0 100%;
}
.area--onerow-5-6\@xs-up {
  flex: 0 0 83.3333%;
}
.area--onerow-4-5\@xs-up {
  flex: 0 0 80%;
}
.area--onerow-3-4\@xs-up {
  flex: 0 0 75%;
}
.area--onerow-2-3\@xs-up {
  flex: 0 0 66.6667%;
}
.area--onerow-3-5\@xs-up {
  flex: 0 0 60%;
}
.area--onerow-1-2\@xs-up {
  flex: 0 0 50%;
}
.area--onerow-2-5\@xs-up {
  flex: 0 0 40%;
}
.area--onerow-1-3\@xs-up {
  flex: 0 0 33.3333%;
}
.area--onerow-3-10\@xs-up {
  flex: 0 0 30%;
}
.area--onerow-1-4\@xs-up {
  flex: 0 0 25%;
}
.area--onerow-1-5\@xs-up {
  flex: 0 0 20%;
}
.area--onerow-1-6\@xs-up {
  flex: 0 0 16.6667%;
}
.area--onerow-1-10\@xs-up {
  flex: 0 0 10%;
}
.area--onerow-1-12\@xs-up {
  flex: 0 0 8.3333%;
}
.area--onerow-1-20\@xs-up {
  flex: 0 0 5%;
}
.area--onerow-shrink\@xs-up {
  flex: 0 1 auto;
}
@media (min-width: 768px) {
  .area--onerow-divide\@sm-up {
    flex: 1 1 0;
  }
  .area--onerow-1-1\@sm-up {
    flex: 0 0 100%;
  }
  .area--onerow-5-6\@sm-up {
    flex: 0 0 83.3333%;
  }
  .area--onerow-4-5\@sm-up {
    flex: 0 0 80%;
  }
  .area--onerow-3-4\@sm-up {
    flex: 0 0 75%;
  }
  .area--onerow-2-3\@sm-up {
    flex: 0 0 66.6667%;
  }
  .area--onerow-3-5\@sm-up {
    flex: 0 0 60%;
  }
  .area--onerow-1-2\@sm-up {
    flex: 0 0 50%;
  }
  .area--onerow-2-5\@sm-up {
    flex: 0 0 40%;
  }
  .area--onerow-1-3\@sm-up {
    flex: 0 0 33.3333%;
  }
  .area--onerow-3-10\@sm-up {
    flex: 0 0 30%;
  }
  .area--onerow-1-4\@sm-up {
    flex: 0 0 25%;
  }
  .area--onerow-1-5\@sm-up {
    flex: 0 0 20%;
  }
  .area--onerow-1-6\@sm-up {
    flex: 0 0 16.6667%;
  }
  .area--onerow-1-10\@sm-up {
    flex: 0 0 10%;
  }
  .area--onerow-1-12\@sm-up {
    flex: 0 0 8.3333%;
  }
  .area--onerow-1-20\@sm-up {
    flex: 0 0 5%;
  }
  .area--onerow-shrink\@sm-up {
    flex: 0 1 auto;
  }
}
@media (min-width: 1024px) {
  .area--onerow-divide\@md-up {
    flex: 1 1 0;
  }
  .area--onerow-1-1\@md-up {
    flex: 0 0 100%;
  }
  .area--onerow-5-6\@md-up {
    flex: 0 0 83.3333%;
  }
  .area--onerow-4-5\@md-up {
    flex: 0 0 80%;
  }
  .area--onerow-3-4\@md-up {
    flex: 0 0 75%;
  }
  .area--onerow-2-3\@md-up {
    flex: 0 0 66.6667%;
  }
  .area--onerow-3-5\@md-up {
    flex: 0 0 60%;
  }
  .area--onerow-1-2\@md-up {
    flex: 0 0 50%;
  }
  .area--onerow-2-5\@md-up {
    flex: 0 0 40%;
  }
  .area--onerow-1-3\@md-up {
    flex: 0 0 33.3333%;
  }
  .area--onerow-3-10\@md-up {
    flex: 0 0 30%;
  }
  .area--onerow-1-4\@md-up {
    flex: 0 0 25%;
  }
  .area--onerow-1-5\@md-up {
    flex: 0 0 20%;
  }
  .area--onerow-1-6\@md-up {
    flex: 0 0 16.6667%;
  }
  .area--onerow-1-10\@md-up {
    flex: 0 0 10%;
  }
  .area--onerow-1-12\@md-up {
    flex: 0 0 8.3333%;
  }
  .area--onerow-1-20\@md-up {
    flex: 0 0 5%;
  }
  .area--onerow-shrink\@md-up {
    flex: 0 1 auto;
  }
}
@media (min-width: 1320px) {
  .area--onerow-divide\@lg-up {
    flex: 1 1 0;
  }
  .area--onerow-1-1\@lg-up {
    flex: 0 0 100%;
  }
  .area--onerow-5-6\@lg-up {
    flex: 0 0 83.3333%;
  }
  .area--onerow-4-5\@lg-up {
    flex: 0 0 80%;
  }
  .area--onerow-3-4\@lg-up {
    flex: 0 0 75%;
  }
  .area--onerow-2-3\@lg-up {
    flex: 0 0 66.6667%;
  }
  .area--onerow-3-5\@lg-up {
    flex: 0 0 60%;
  }
  .area--onerow-1-2\@lg-up {
    flex: 0 0 50%;
  }
  .area--onerow-2-5\@lg-up {
    flex: 0 0 40%;
  }
  .area--onerow-1-3\@lg-up {
    flex: 0 0 33.3333%;
  }
  .area--onerow-3-10\@lg-up {
    flex: 0 0 30%;
  }
  .area--onerow-1-4\@lg-up {
    flex: 0 0 25%;
  }
  .area--onerow-1-5\@lg-up {
    flex: 0 0 20%;
  }
  .area--onerow-1-6\@lg-up {
    flex: 0 0 16.6667%;
  }
  .area--onerow-1-10\@lg-up {
    flex: 0 0 10%;
  }
  .area--onerow-1-12\@lg-up {
    flex: 0 0 8.3333%;
  }
  .area--onerow-1-20\@lg-up {
    flex: 0 0 5%;
  }
  .area--onerow-shrink\@lg-up {
    flex: 0 1 auto;
  }
}
.section--bp-none .area--onerow {
  margin-bottom: var(--grid--vertical-padding--none);
}
.section--bp-thin .area--onerow {
  margin-bottom: var(--grid--vertical-padding--thin);
}
.section--bp-small .area--onerow {
  margin-bottom: var(--grid--vertical-padding--small);
}
.section--bp-large .area--onerow {
  margin-bottom: var(--grid--vertical-padding--large);
}
.section--bp-1rem .area--onerow {
  margin-bottom: 1rem;
}
.section--bp-2rem .area--onerow {
  margin-bottom: 2rem;
}
.section--bp-3rem .area--onerow {
  margin-bottom: 3rem;
}
.section--bp-4rem .area--onerow {
  margin-bottom: 4rem;
}
.section--bp-5rem .area--onerow {
  margin-bottom: 5rem;
}
.section--bp-6rem .area--onerow {
  margin-bottom: 6rem;
}
.section--bp-7rem .area--onerow {
  margin-bottom: 7rem;
}
.section--bp-8rem .area--onerow {
  margin-bottom: 8rem;
}
.section--bp-9rem .area--onerow {
  margin-bottom: 9rem;
}

.wrapper--repeatcol {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.area--repeatcol--main {
  display: grid;
}

.area--rows-1 {
  grid-template-rows: 1fr;
}
.area--rows-min {
  grid-template-rows: min-content;
}

.wrapper--lg1sm2__lg_left {
  grid-template-areas: "large upper_small" "large lower_small";
}
@media (max-width: 767px) {
  .wrapper--lg1sm2__lg_left {
    grid-template-areas: "large" "upper_small" "lower_small";
  }
}
.wrapper--lg1sm2__lg_right {
  grid-template-areas: "upper_small large" "lower_small large";
}
@media (max-width: 767px) {
  .wrapper--lg1sm2__lg_right {
    grid-template-areas: "upper_small" "lower_small" "large";
  }
}

@media (max-width: 767px) {
  .area--lg1sm2 {
    width: 100%;
  }
}
.area--lg1sm2--large {
  grid-area: large;
}
.area--lg1sm2--upper_small {
  grid-area: upper_small;
}
.area--lg1sm2--lower_small {
  grid-area: lower_small;
}

.wrapper--tall1wide1sm2__wide_upright {
  grid-template-areas: "tall wide wide" "tall small1 small2";
}
@media (max-width: 767px) {
  .wrapper--tall1wide1sm2__wide_upright {
    grid-template-areas: "tall" "wide" "small1" "small2";
  }
}
.wrapper--tall1wide1sm2__wide_downright {
  grid-template-areas: "tall small1 small2" "tall wide wide";
}
@media (max-width: 767px) {
  .wrapper--tall1wide1sm2__wide_downright {
    grid-template-areas: "tall" "small1" "small2" "wide";
  }
}
.wrapper--tall1wide1sm2__wide_upleft {
  grid-template-areas: "wide wide tall" "small1 small2 tall";
}
@media (max-width: 767px) {
  .wrapper--tall1wide1sm2__wide_upleft {
    grid-template-areas: "wide" "tall" "small1" "small2";
  }
}
.wrapper--tall1wide1sm2__wide_downleft {
  grid-template-areas: "small1 small2 tall" "wide wide tall";
}
@media (max-width: 767px) {
  .wrapper--tall1wide1sm2__wide_downleft {
    grid-template-areas: "small1" "small2" "tall" "wide";
  }
}

@media (max-width: 767px) {
  .area--tall1wide1sm2 {
    width: 100%;
  }
}
.area--tall1wide1sm2--tall {
  grid-area: tall;
}
.area--tall1wide1sm2--wide {
  grid-area: wide;
}
.area--tall1wide1sm2--small1 {
  grid-area: small1;
}
.area--tall1wide1sm2--small2 {
  grid-area: small2;
}

.wrapper--lg2sm2__sm_left {
  grid-template-areas: "upper_small large1 large2" "lower_small large1 large2";
}
@media (max-width: 767px) {
  .wrapper--lg2sm2__sm_left {
    grid-template-areas: "upper_small" "large1" "large2" "lower_small";
  }
}
.wrapper--lg2sm2__sm_center {
  grid-template-areas: "large1 upper_small large2" "large1 lower_small large2";
}
@media (max-width: 767px) {
  .wrapper--lg2sm2__sm_center {
    grid-template-areas: "large1" "upper_small" "large2" "lower_small";
  }
}
.wrapper--lg2sm2__sm_right {
  grid-template-areas: "large1 large2 upper_small" "large1 large2 lower_small";
}
@media (max-width: 767px) {
  .wrapper--lg2sm2__sm_right {
    grid-template-areas: "large1" "large2" "upper_small" "lower_small";
  }
}

@media (max-width: 767px) {
  .area--lg2sm2 {
    width: 100%;
  }
}
.area--lg2sm2--large1 {
  grid-area: large1;
}
.area--lg2sm2--large2 {
  grid-area: large2;
}
.area--lg2sm2--upper_small {
  grid-area: upper_small;
}
.area--lg2sm2--lower_small {
  grid-area: lower_small;
}

.wrapper--lg1sm4__lg_left {
  grid-template-areas: "large upper_small1 upper_small2" "large lower_small1 lower_small2";
}
@media (max-width: 767px) {
  .wrapper--lg1sm4__lg_left {
    grid-template-areas: "large" "upper_small1" "upper_small2" "lower_small1" "lower_small2";
  }
}
.wrapper--lg1sm4__lg_center {
  grid-template-areas: "upper_small1 large upper_small2" "lower_small1 large lower_small2";
}
@media (max-width: 767px) {
  .wrapper--lg1sm4__lg_center {
    grid-template-areas: "upper_small1" "large" "upper_small2" "lower_small1" "lower_small2";
  }
}
.wrapper--lg1sm4__lg_right {
  grid-template-areas: "upper_small1 upper_small2 large" "lower_small1 lower_small2 large";
}
@media (max-width: 767px) {
  .wrapper--lg1sm4__lg_right {
    grid-template-areas: "upper_small1" "upper_small2" "large" "lower_small1" "lower_small2";
  }
}

@media (max-width: 767px) {
  .area--lg1sm4 {
    width: 100%;
  }
}
.area--lg1sm4--large {
  grid-area: large;
}
.area--lg1sm4--upper_small1 {
  grid-area: upper_small1;
}
.area--lg1sm4--upper_small2 {
  grid-area: upper_small1;
}
.area--lg1sm4--lower_small1 {
  grid-area: lower_small1;
}
.area--lg1sm4--lower_small2 {
  grid-area: lower_small2;
}

.block {
  position: relative;
}

.bc-image__image_zoom {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.area--vertical-align-stretch .bc-image .field__item--media_image {
  display: flex;
}
.area--vertical-align-stretch .bc-image .field__item--media_image img {
  object-fit: cover;
}

/*# sourceMappingURL=layout_builder_only.css.map */
