:root {
  --color--foreground-dark: #333;
  --color--foreground-grayish: var(--color--foreground-dark);
  --color--foreground-light: white;
  --color--primary: red;
  --color--primary-inverse: white;
  --color--primary-accent: #b30000;
  --color--secondary: blue;
  --color--secondary-inverse: white;
  --color--secondary-accent: #3333ff;
  --color--background-light: white;
  --color--background-grayish: #efefef;
  --color--background-dark: #333;
  --color--foreground-light-accent: #ddd;
  --color--foreground-primary-inverse-accent: yellow;
  --color--foreground: var(--color--foreground-dark);
  --color--background: var(--color--background-light);
  --color--highlight: var(--color--primary);
  --color--accent: var(--color--primary-accent);
  --font-family--system: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  --font-family--base: var(--font-family--system);
  --font-style--base: normal;
  --font-weight--base: normal;
  --font-weight--strong: bold;
  --font-family--decorative: var(--font-family--base);
  --font-style--decorative: var(--font-style--base);
  --font-weight--decorative: var(--font-weight--base);
  --font-size--base: 16px;
  --font-size: var(--font-size--base);
  --line-height: 1.5;
  --letter-spacing: normal;
  --vertical-text-spacer: 1rem;
  --transition-fast: all 150ms linear;
  --transition-slow: all 800ms ease-in-out;
  --anchor--text-decoration: none;
  --btn--border-width--base: 1px;
  --btn--border-width--outline: 2px;
  --btn--padding-x: 0.5rem;
  --btn--padding-y: 0.25rem;
  --btn--line-height: calc(var(--font-size) * var(--line-height));
  --btn--border-radius: 0;
  --btn--border-color: transparent;
  --btn--font-family: var(--font-family--base);
  --btn--font-weight: var(--font-weight--base);
  --btn--font-style: var(--font-style--base);
  --btn--font-size: var(--font-size);
  --btn--letter-spacing: var(--letter-spacing);
  --inp--border-width: var(--btn--border-width--base);
  --inp--padding-x: var(--btn--padding-x);
  --inp--padding-y: var(--btn--padding-y);
  --inp--line-height: var(--line-height);
  --inp--border-radius: var(btn--border-radius);
  --inp--border-color: var(--color--foreground-dark);
  --inp--color: var(--color--foreground-dark);
  --inp--background: var(--color--background-light);
  --inp--font-family: var(--font-family--base);
  --inp--font-weight: var(--font-weight--base);
  --inp--font-style: var(--font-style--base);
  --inp--font-size: var(--font-size);
  --inp--letter-spacing: var(--letter-spacing);
}
@media (min-width: 1024px) and (max-width: 1319px) {
  :root {
    --font-size: calc(var(--font-style--base) + 1px);
  }
}
@media (min-width: 1320px) {
  :root {
    --font-size: calc(var(--font-style--base) + 2px);
  }
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-size: var(--font-size);
  font-family: var(--font-family--base);
  font-weight: var(--font-weight--base);
  font-style: var(--font-style--base);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  color: var(--color--foreground);
  background-color: var(--color--background);
  -webkit-text-size-adjust: 100%;
}

.section--dark-over-gray {
  --color--background: var(--color--background-grayish);
}

.section--dark-over-image {
  --color--background: transparent;
}

.section--light-over-dark {
  --color--foreground: var(--color--foreground-light);
  --color--background: var(--color--background-dark);
  --color--highlight: var(--color--foreground-light);
  --color--accent: var(--color--foreground-light-accent);
}
.section--light-over-dark a {
  --anchor--text-decoration: underline;
}

.section--light-over-image {
  --color--foreground: var(--color--foreground-light);
  --color--background: transparent;
  --color--highlight: var(--color--foreground-light);
  --color--accent: var(--color--foreground-light-accent);
}
.section--light-over-image a {
  --anchor--text-decoration: underline;
}

.section--inverse-over-primary {
  --color--foreground: var(--color--primary-inverse);
  --color--background: var(--color--primary);
  --color--highlight: var(--color--primary-inverse);
  --color--accent: var(--color--foreground-primary-inverse-accent);
}
.section--inverse-over-primary a {
  --anchor--text-decoration: underline;
}

body {
  margin: 0;
  padding: 0;
}

b, strong {
  font-weight: var(--font-weight--strong);
}

a {
  color: var(--color--highlight);
  text-decoration: var(--anchor--text-decoration);
  transition: var(--transition-fast);
}
a:hover, a:focus {
  color: var(--color--accent);
}
h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
  color: inherit;
  text-decoration: none;
}

img {
  border: 0;
}

h1, h2, h3, h4, h5, h6, p, ol, ul, dl, table, blockquote {
  margin: 0;
}
h1 + h1, h1 + h2, h1 + h3, h1 + h4, h1 + h5, h1 + h6, h1 + p, h1 + ol, h1 + ul, h1 + dl, h1 + table, h1 + blockquote, h2 + h1, h2 + h2, h2 + h3, h2 + h4, h2 + h5, h2 + h6, h2 + p, h2 + ol, h2 + ul, h2 + dl, h2 + table, h2 + blockquote, h3 + h1, h3 + h2, h3 + h3, h3 + h4, h3 + h5, h3 + h6, h3 + p, h3 + ol, h3 + ul, h3 + dl, h3 + table, h3 + blockquote, h4 + h1, h4 + h2, h4 + h3, h4 + h4, h4 + h5, h4 + h6, h4 + p, h4 + ol, h4 + ul, h4 + dl, h4 + table, h4 + blockquote, h5 + h1, h5 + h2, h5 + h3, h5 + h4, h5 + h5, h5 + h6, h5 + p, h5 + ol, h5 + ul, h5 + dl, h5 + table, h5 + blockquote, h6 + h1, h6 + h2, h6 + h3, h6 + h4, h6 + h5, h6 + h6, h6 + p, h6 + ol, h6 + ul, h6 + dl, h6 + table, h6 + blockquote, p + h1, p + h2, p + h3, p + h4, p + h5, p + h6, p + p, p + ol, p + ul, p + dl, p + table, p + blockquote, ol + h1, ol + h2, ol + h3, ol + h4, ol + h5, ol + h6, ol + p, ol + ol, ol + ul, ol + dl, ol + table, ol + blockquote, ul + h1, ul + h2, ul + h3, ul + h4, ul + h5, ul + h6, ul + p, ul + ol, ul + ul, ul + dl, ul + table, ul + blockquote, dl + h1, dl + h2, dl + h3, dl + h4, dl + h5, dl + h6, dl + p, dl + ol, dl + ul, dl + dl, dl + table, dl + blockquote, table + h1, table + h2, table + h3, table + h4, table + h5, table + h6, table + p, table + ol, table + ul, table + dl, table + table, table + blockquote, blockquote + h1, blockquote + h2, blockquote + h3, blockquote + h4, blockquote + h5, blockquote + h6, blockquote + p, blockquote + ol, blockquote + ul, blockquote + dl, blockquote + table, blockquote + blockquote {
  margin-top: var(--vertical-text-spacer);
}

button, [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

.contextual-toolbar-tab {
  display: none !important;
}

.field--image img, .field--images img {
  display: block;
  max-width: 100%;
}

.section {
  position: relative;
  overflow-x: hidden;
  --grid--side-padding--small: 10px;
  --grid--side-padding--large: 70px;
  --grid--vertical-padding--none: 0;
  --grid--vertical-padding--thin: 2px;
  --grid--vertical-padding--small: 10px;
  --grid--vertical-padding--large: var(--grid--vertical-padding--small);
}
.section--limited, .section--padded {
  padding-left: var(--grid--side-padding--small);
  padding-right: var(--grid--side-padding--small);
}
@media (min-width: 1340px) {
  .section--limited, .section--padded {
    padding-left: calc((100vw - 1320px) / 2);
    padding-right: calc((100vw - 1320px) / 2);
  }
}
@media (min-width: 1460px) {
  .section--padded {
    padding-left: var(--grid--side-padding--large);
    padding-right: var(--grid--side-padding--large);
  }
}
@media (min-width: 768px) and (max-width: 1319px) {
  .section {
    --grid--vertical-padding--small: 20px;
  }
}
@media (min-width: 1320px) {
  .section {
    --grid--vertical-padding--small: 30px;
  }
}
@media (min-width: 1024px) and (max-width: 1319px) {
  .section {
    --grid--vertical-padding--large: 40px;
  }
}
@media (min-width: 1320px) {
  .section {
    --grid--vertical-padding--large: 70px;
  }
}
.section--tp-none {
  padding-top: var(--grid--vertical-padding--none);
}
.section--bp-none {
  padding-bottom: var(--grid--vertical-padding--none);
}
.section--tp-thin {
  padding-top: var(--grid--vertical-padding--thin);
}
.section--bp-thin {
  padding-bottom: var(--grid--vertical-padding--thin);
}
.section--tp-small {
  padding-top: var(--grid--vertical-padding--small);
}
.section--bp-small {
  padding-bottom: var(--grid--vertical-padding--small);
}
.section--tp-large {
  padding-top: var(--grid--vertical-padding--large);
}
.section--bp-large {
  padding-bottom: var(--grid--vertical-padding--large);
}
.section--tp-1rem {
  padding-top: 1rem;
}
.section--bp-1rem {
  padding-bottom: 1rem;
}
.section--tp-2rem {
  padding-top: 2rem;
}
.section--bp-2rem {
  padding-bottom: 2rem;
}
.section--tp-3rem {
  padding-top: 3rem;
}
.section--bp-3rem {
  padding-bottom: 3rem;
}
.section--tp-4rem {
  padding-top: 4rem;
}
.section--bp-4rem {
  padding-bottom: 4rem;
}
.section--tp-5rem {
  padding-top: 5rem;
}
.section--bp-5rem {
  padding-bottom: 5rem;
}
.section--tp-6rem {
  padding-top: 6rem;
}
.section--bp-6rem {
  padding-bottom: 6rem;
}
.section--tp-7rem {
  padding-top: 7rem;
}
.section--bp-7rem {
  padding-bottom: 7rem;
}
.section--tp-8rem {
  padding-top: 8rem;
}
.section--bp-8rem {
  padding-bottom: 8rem;
}
.section--tp-9rem {
  padding-top: 9rem;
}
.section--bp-9rem {
  padding-bottom: 9rem;
}

/*
$wrapper--cols: (
  '1-1': 1fr 1fr,
  '1-2': 1fr 2fr,
  '2-1': 2fr 1fr,
  '2-3': 2fr 3fr,
  '3-2': 3fr 2fr,
  '1-4': 1fr 4fr,
  '4-1': 4fr 1fr,
  '1-1-1': 1fr 1fr 1fr,
  '4-3-3': 4fr 3fr 3fr,
  '3-4-3': 3fr 4fr 3fr,
  '3-3-4': 3fr 3fr 4fr,
  '2-1-1': 2fr 1fr 1fr,
  '1-2-1': 1fr 2fr 1fr,
  '1-1-2': 1fr 1fr 2fr,
  '3-1-1': 3fr 1fr 1fr,
  '1-3-1': 1fr 3fr 1fr,
  '1-1-3': 1fr 1fr 3fr,
) !default;
*/
.wrapper {
  position: relative;
  display: grid;
  align-items: stretch;
  --grid--gap--none: var(--grid--vertical-padding--none);
  --grid--gap--thin: var(--grid--vertical-padding--thin);
  --grid--gap--small: var(--grid--vertical-padding--small);
  --grid--gap--large: var(--grid--vertical-padding--large);
}
.wrapper--cols-1-1 {
  grid-template-columns: 50% 50%;
}
.wrapper--cols-1-2 {
  grid-template-columns: 33.3333% 66.6667%;
}
.wrapper--cols-2-1 {
  grid-template-columns: 66.6667% 33.3333%;
}
.wrapper--cols-2-3 {
  grid-template-columns: 40% 60%;
}
.wrapper--cols-3-2 {
  grid-template-columns: 60% 40%;
}
.wrapper--cols-1-4 {
  grid-template-columns: 20% 80%;
}
.wrapper--cols-4-1 {
  grid-template-columns: 80% 20%;
}
.wrapper--cols-1-1-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
}
.wrapper--cols-4-3-3 {
  grid-template-columns: 40% 30% 30%;
}
.wrapper--cols-3-4-3 {
  grid-template-columns: 30% 40% 30%;
}
.wrapper--cols-3-3-4 {
  grid-template-columns: 30% 30% 40%;
}
.wrapper--cols-2-1-1 {
  grid-template-columns: 50% 25% 25%;
}
.wrapper--cols-1-2-1 {
  grid-template-columns: 25% 50% 25%;
}
.wrapper--cols-1-1-2 {
  grid-template-columns: 25% 25% 50%;
}
.wrapper--cols-3-1-1 {
  grid-template-columns: 60% 20% 20%;
}
.wrapper--cols-1-3-1 {
  grid-template-columns: 20% 60% 20%;
}
.wrapper--cols-1-1-3 {
  grid-template-columns: 20% 20% 60%;
}
.wrapper--rows-1-1 {
  grid-template-rows: 1fr 1fr;
}
.wrapper--rows-min-min {
  grid-template-rows: min-content min-content;
}
.wrapper--rows-1-min {
  grid-template-rows: 1fr min-content;
}
.wrapper--rows-min-1 {
  grid-template-rows: min-content 1fr;
}
.wrapper--rows-1 {
  grid-template-rows: 1fr;
}
.wrapper--rows-min {
  grid-template-rows: min-content;
}
.wrapper--gap-none, .wrapper--gap-none {
  margin-left: calc(var(--grid--gap--none) * -1 / 2);
  margin-right: calc(var(--grid--gap--none) * -1 / 2);
  row-gap: var(--grid--gap--none);
}
.wrapper--gap-thin, .wrapper--gap-thin {
  margin-left: calc(var(--grid--gap--thin) * -1 / 2);
  margin-right: calc(var(--grid--gap--thin) * -1 / 2);
  row-gap: var(--grid--gap--thin);
}
.wrapper--gap-small, .wrapper--gap-small {
  margin-left: calc(var(--grid--gap--small) * -1 / 2);
  margin-right: calc(var(--grid--gap--small) * -1 / 2);
  row-gap: var(--grid--gap--small);
}
.wrapper--gap-large, .wrapper--gap-large {
  margin-left: calc(var(--grid--gap--large) * -1 / 2);
  margin-right: calc(var(--grid--gap--large) * -1 / 2);
  row-gap: var(--grid--gap--large);
}
@media (max-width: 767px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
  }
}

.area {
  display: flex;
  flex-flow: row wrap;
}
.area > * {
  width: 100%;
}
.area--vertical-align-top {
  align-content: flex-start;
}
.area--vertical-align-center {
  align-content: center;
}
.area--vertical-align-bottom {
  align-content: flex-end;
}
.area--vertical-align-stretch {
  align-content: stretch;
}
.area--vertical-align-space-between {
  align-content: space-between;
}
.area--vertical-align-space-around {
  align-content: space-around;
}
.area--background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.area--gap-none {
  padding-left: calc(var(--grid--gap--none) / 2);
  padding-right: calc(var(--grid--gap--none) / 2);
}
.area--gap-thin {
  padding-left: calc(var(--grid--gap--thin) / 2);
  padding-right: calc(var(--grid--gap--thin) / 2);
}
.area--gap-small {
  padding-left: calc(var(--grid--gap--small) / 2);
  padding-right: calc(var(--grid--gap--small) / 2);
}
.area--gap-large {
  padding-left: calc(var(--grid--gap--large) / 2);
  padding-right: calc(var(--grid--gap--large) / 2);
}

.area--vertical-align-stretch .block, .area--vertical-align-stretch .field, .area--vertical-align-stretch .field__item--type-entity_reference, .area--vertical-align-stretch .field__item--type-entity_reference > * {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.section--onerow {
  padding-bottom: 0;
}

.wrapper--onerow {
  display: flex;
  flex-flow: row wrap;
}
.wrapper--onerow-flex-start {
  justify-content: flex-start;
}
.wrapper--onerow-center {
  justify-content: center;
}
.wrapper--onerow-flex-end {
  justify-content: flex-end;
}
.wrapper--onerow-space-between {
  justify-content: space-between;
}
.wrapper--onerow-space-evenly {
  justify-content: space-evenly;
}
.wrapper--onerow-space-between {
  justify-content: space-between;
}

.area--onerow.area--vertical-align-start {
  align-self: flex-start;
}
.area--onerow.area--vertical-align-center {
  align-self: center;
}
.area--onerow.area--vertical-align-end {
  align-self: flex-end;
}
.area--onerow-divide\@xs-up {
  flex: 1 1 0;
}
.area--onerow-1-1\@xs-up {
  flex: 0 0 100%;
}
.area--onerow-5-6\@xs-up {
  flex: 0 0 83.3333%;
}
.area--onerow-4-5\@xs-up {
  flex: 0 0 80%;
}
.area--onerow-3-4\@xs-up {
  flex: 0 0 75%;
}
.area--onerow-2-3\@xs-up {
  flex: 0 0 66.6667%;
}
.area--onerow-3-5\@xs-up {
  flex: 0 0 60%;
}
.area--onerow-1-2\@xs-up {
  flex: 0 0 50%;
}
.area--onerow-2-5\@xs-up {
  flex: 0 0 40%;
}
.area--onerow-1-3\@xs-up {
  flex: 0 0 33.3333%;
}
.area--onerow-3-10\@xs-up {
  flex: 0 0 30%;
}
.area--onerow-1-4\@xs-up {
  flex: 0 0 25%;
}
.area--onerow-1-5\@xs-up {
  flex: 0 0 20%;
}
.area--onerow-1-6\@xs-up {
  flex: 0 0 16.6667%;
}
.area--onerow-1-10\@xs-up {
  flex: 0 0 10%;
}
.area--onerow-1-12\@xs-up {
  flex: 0 0 8.3333%;
}
.area--onerow-1-20\@xs-up {
  flex: 0 0 5%;
}
.area--onerow-shrink\@xs-up {
  flex: 0 1 auto;
}
@media (min-width: 768px) {
  .area--onerow-divide\@sm-up {
    flex: 1 1 0;
  }
  .area--onerow-1-1\@sm-up {
    flex: 0 0 100%;
  }
  .area--onerow-5-6\@sm-up {
    flex: 0 0 83.3333%;
  }
  .area--onerow-4-5\@sm-up {
    flex: 0 0 80%;
  }
  .area--onerow-3-4\@sm-up {
    flex: 0 0 75%;
  }
  .area--onerow-2-3\@sm-up {
    flex: 0 0 66.6667%;
  }
  .area--onerow-3-5\@sm-up {
    flex: 0 0 60%;
  }
  .area--onerow-1-2\@sm-up {
    flex: 0 0 50%;
  }
  .area--onerow-2-5\@sm-up {
    flex: 0 0 40%;
  }
  .area--onerow-1-3\@sm-up {
    flex: 0 0 33.3333%;
  }
  .area--onerow-3-10\@sm-up {
    flex: 0 0 30%;
  }
  .area--onerow-1-4\@sm-up {
    flex: 0 0 25%;
  }
  .area--onerow-1-5\@sm-up {
    flex: 0 0 20%;
  }
  .area--onerow-1-6\@sm-up {
    flex: 0 0 16.6667%;
  }
  .area--onerow-1-10\@sm-up {
    flex: 0 0 10%;
  }
  .area--onerow-1-12\@sm-up {
    flex: 0 0 8.3333%;
  }
  .area--onerow-1-20\@sm-up {
    flex: 0 0 5%;
  }
  .area--onerow-shrink\@sm-up {
    flex: 0 1 auto;
  }
}
@media (min-width: 1024px) {
  .area--onerow-divide\@md-up {
    flex: 1 1 0;
  }
  .area--onerow-1-1\@md-up {
    flex: 0 0 100%;
  }
  .area--onerow-5-6\@md-up {
    flex: 0 0 83.3333%;
  }
  .area--onerow-4-5\@md-up {
    flex: 0 0 80%;
  }
  .area--onerow-3-4\@md-up {
    flex: 0 0 75%;
  }
  .area--onerow-2-3\@md-up {
    flex: 0 0 66.6667%;
  }
  .area--onerow-3-5\@md-up {
    flex: 0 0 60%;
  }
  .area--onerow-1-2\@md-up {
    flex: 0 0 50%;
  }
  .area--onerow-2-5\@md-up {
    flex: 0 0 40%;
  }
  .area--onerow-1-3\@md-up {
    flex: 0 0 33.3333%;
  }
  .area--onerow-3-10\@md-up {
    flex: 0 0 30%;
  }
  .area--onerow-1-4\@md-up {
    flex: 0 0 25%;
  }
  .area--onerow-1-5\@md-up {
    flex: 0 0 20%;
  }
  .area--onerow-1-6\@md-up {
    flex: 0 0 16.6667%;
  }
  .area--onerow-1-10\@md-up {
    flex: 0 0 10%;
  }
  .area--onerow-1-12\@md-up {
    flex: 0 0 8.3333%;
  }
  .area--onerow-1-20\@md-up {
    flex: 0 0 5%;
  }
  .area--onerow-shrink\@md-up {
    flex: 0 1 auto;
  }
}
@media (min-width: 1320px) {
  .area--onerow-divide\@lg-up {
    flex: 1 1 0;
  }
  .area--onerow-1-1\@lg-up {
    flex: 0 0 100%;
  }
  .area--onerow-5-6\@lg-up {
    flex: 0 0 83.3333%;
  }
  .area--onerow-4-5\@lg-up {
    flex: 0 0 80%;
  }
  .area--onerow-3-4\@lg-up {
    flex: 0 0 75%;
  }
  .area--onerow-2-3\@lg-up {
    flex: 0 0 66.6667%;
  }
  .area--onerow-3-5\@lg-up {
    flex: 0 0 60%;
  }
  .area--onerow-1-2\@lg-up {
    flex: 0 0 50%;
  }
  .area--onerow-2-5\@lg-up {
    flex: 0 0 40%;
  }
  .area--onerow-1-3\@lg-up {
    flex: 0 0 33.3333%;
  }
  .area--onerow-3-10\@lg-up {
    flex: 0 0 30%;
  }
  .area--onerow-1-4\@lg-up {
    flex: 0 0 25%;
  }
  .area--onerow-1-5\@lg-up {
    flex: 0 0 20%;
  }
  .area--onerow-1-6\@lg-up {
    flex: 0 0 16.6667%;
  }
  .area--onerow-1-10\@lg-up {
    flex: 0 0 10%;
  }
  .area--onerow-1-12\@lg-up {
    flex: 0 0 8.3333%;
  }
  .area--onerow-1-20\@lg-up {
    flex: 0 0 5%;
  }
  .area--onerow-shrink\@lg-up {
    flex: 0 1 auto;
  }
}
.section--bp-none .area--onerow {
  margin-bottom: var(--grid--vertical-padding--none);
}
.section--bp-thin .area--onerow {
  margin-bottom: var(--grid--vertical-padding--thin);
}
.section--bp-small .area--onerow {
  margin-bottom: var(--grid--vertical-padding--small);
}
.section--bp-large .area--onerow {
  margin-bottom: var(--grid--vertical-padding--large);
}
.section--bp-1rem .area--onerow {
  margin-bottom: 1rem;
}
.section--bp-2rem .area--onerow {
  margin-bottom: 2rem;
}
.section--bp-3rem .area--onerow {
  margin-bottom: 3rem;
}
.section--bp-4rem .area--onerow {
  margin-bottom: 4rem;
}
.section--bp-5rem .area--onerow {
  margin-bottom: 5rem;
}
.section--bp-6rem .area--onerow {
  margin-bottom: 6rem;
}
.section--bp-7rem .area--onerow {
  margin-bottom: 7rem;
}
.section--bp-8rem .area--onerow {
  margin-bottom: 8rem;
}
.section--bp-9rem .area--onerow {
  margin-bottom: 9rem;
}

.wrapper--repeatcol {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.area--repeatcol--main {
  display: grid;
}

.area--rows-1 {
  grid-template-rows: 1fr;
}
.area--rows-min {
  grid-template-rows: min-content;
}

.wrapper--lg1sm2__lg_left {
  grid-template-areas: "large upper_small" "large lower_small";
}
@media (max-width: 767px) {
  .wrapper--lg1sm2__lg_left {
    grid-template-areas: "large" "upper_small" "lower_small";
  }
}
.wrapper--lg1sm2__lg_right {
  grid-template-areas: "upper_small large" "lower_small large";
}
@media (max-width: 767px) {
  .wrapper--lg1sm2__lg_right {
    grid-template-areas: "upper_small" "lower_small" "large";
  }
}

@media (max-width: 767px) {
  .area--lg1sm2 {
    width: 100%;
  }
}
.area--lg1sm2--large {
  grid-area: large;
}
.area--lg1sm2--upper_small {
  grid-area: upper_small;
}
.area--lg1sm2--lower_small {
  grid-area: lower_small;
}

.wrapper--tall1wide1sm2__wide_upright {
  grid-template-areas: "tall wide wide" "tall small1 small2";
}
@media (max-width: 767px) {
  .wrapper--tall1wide1sm2__wide_upright {
    grid-template-areas: "tall" "wide" "small1" "small2";
  }
}
.wrapper--tall1wide1sm2__wide_downright {
  grid-template-areas: "tall small1 small2" "tall wide wide";
}
@media (max-width: 767px) {
  .wrapper--tall1wide1sm2__wide_downright {
    grid-template-areas: "tall" "small1" "small2" "wide";
  }
}
.wrapper--tall1wide1sm2__wide_upleft {
  grid-template-areas: "wide wide tall" "small1 small2 tall";
}
@media (max-width: 767px) {
  .wrapper--tall1wide1sm2__wide_upleft {
    grid-template-areas: "wide" "tall" "small1" "small2";
  }
}
.wrapper--tall1wide1sm2__wide_downleft {
  grid-template-areas: "small1 small2 tall" "wide wide tall";
}
@media (max-width: 767px) {
  .wrapper--tall1wide1sm2__wide_downleft {
    grid-template-areas: "small1" "small2" "tall" "wide";
  }
}

@media (max-width: 767px) {
  .area--tall1wide1sm2 {
    width: 100%;
  }
}
.area--tall1wide1sm2--tall {
  grid-area: tall;
}
.area--tall1wide1sm2--wide {
  grid-area: wide;
}
.area--tall1wide1sm2--small1 {
  grid-area: small1;
}
.area--tall1wide1sm2--small2 {
  grid-area: small2;
}

.wrapper--lg2sm2__sm_left {
  grid-template-areas: "upper_small large1 large2" "lower_small large1 large2";
}
@media (max-width: 767px) {
  .wrapper--lg2sm2__sm_left {
    grid-template-areas: "upper_small" "large1" "large2" "lower_small";
  }
}
.wrapper--lg2sm2__sm_center {
  grid-template-areas: "large1 upper_small large2" "large1 lower_small large2";
}
@media (max-width: 767px) {
  .wrapper--lg2sm2__sm_center {
    grid-template-areas: "large1" "upper_small" "large2" "lower_small";
  }
}
.wrapper--lg2sm2__sm_right {
  grid-template-areas: "large1 large2 upper_small" "large1 large2 lower_small";
}
@media (max-width: 767px) {
  .wrapper--lg2sm2__sm_right {
    grid-template-areas: "large1" "large2" "upper_small" "lower_small";
  }
}

@media (max-width: 767px) {
  .area--lg2sm2 {
    width: 100%;
  }
}
.area--lg2sm2--large1 {
  grid-area: large1;
}
.area--lg2sm2--large2 {
  grid-area: large2;
}
.area--lg2sm2--upper_small {
  grid-area: upper_small;
}
.area--lg2sm2--lower_small {
  grid-area: lower_small;
}

.wrapper--lg1sm4__lg_left {
  grid-template-areas: "large upper_small1 upper_small2" "large lower_small1 lower_small2";
}
@media (max-width: 767px) {
  .wrapper--lg1sm4__lg_left {
    grid-template-areas: "large" "upper_small1" "upper_small2" "lower_small1" "lower_small2";
  }
}
.wrapper--lg1sm4__lg_center {
  grid-template-areas: "upper_small1 large upper_small2" "lower_small1 large lower_small2";
}
@media (max-width: 767px) {
  .wrapper--lg1sm4__lg_center {
    grid-template-areas: "upper_small1" "large" "upper_small2" "lower_small1" "lower_small2";
  }
}
.wrapper--lg1sm4__lg_right {
  grid-template-areas: "upper_small1 upper_small2 large" "lower_small1 lower_small2 large";
}
@media (max-width: 767px) {
  .wrapper--lg1sm4__lg_right {
    grid-template-areas: "upper_small1" "upper_small2" "large" "lower_small1" "lower_small2";
  }
}

@media (max-width: 767px) {
  .area--lg1sm4 {
    width: 100%;
  }
}
.area--lg1sm4--large {
  grid-area: large;
}
.area--lg1sm4--upper_small1 {
  grid-area: upper_small1;
}
.area--lg1sm4--upper_small2 {
  grid-area: upper_small1;
}
.area--lg1sm4--lower_small1 {
  grid-area: lower_small1;
}
.area--lg1sm4--lower_small2 {
  grid-area: lower_small2;
}

.btn, button, input[type=button], input[type=submit], input[type=reset] {
  --btn--color: var(--color--primary-inverse);
  --btn--background: var(--color--primary);
  --btn--border-width: var(--btn--border-width--base);
  display: inline-block;
  margin: 0;
  border: var(--btn--border-width) solid var(--btn--border-color);
  padding: calc(var(--btn--padding-y) - var(--btn--border-width)) calc(var(--btn--padding-x) - var(--btn--border-width));
  border-radius: var(--btn--border-radius);
  font-family: var(--btn--font-family);
  font-style: var(--btn-font-style);
  font-weight: var(--btn-font-weight);
  letter-spacing: var(--btn--letter-spacing);
  line-height: var(--btn--line-height);
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  transition: var(--transition-fast);
  color: var(--btn--color);
  background: var(--btn--background);
}
.btn:hover, .btn:focus, button:hover, button:focus, input[type=button]:hover, input[type=button]:focus, input[type=submit]:hover, input[type=submit]:focus, input[type=reset]:hover, input[type=reset]:focus {
  --btn--color: var(--color--primary-inverse);
  --btn--background: var(--color--primary-accent);
}
.btn[disabled], button[disabled], input[type=button][disabled], input[type=submit][disabled], input[type=reset][disabled] {
  cursor: not-allowed;
  opacity: 0.9;
}

.btn--primary {
  --btn--color: --color--primary-inverse;
  --btn--background: --color--primary;
}
.btn--primary:hover, .btn--primary:focus {
  --btn--color: var(--color--primary-inverse);
  --btn--background: var(--color--primary-accent);
}

.btn--secondary {
  --btn--color: var(--color--secondary-inverse);
  --btn--background: var(--color--secondary);
}
.btn--secondary:hover, .btn--secondary:focus {
  --btn--color: var(--color--secondary-inverse);
  --btn--background: var(--color--secondary-accent);
}

.btn--outline, input[type=reset] {
  --btn--color: var(--color--highlight);
  --btn--border-color: var(--btn--color);
  --btn--border-width: var(--btn--border-width--outline);
  --btn--background: transparent;
}
.btn--outline:hover, .btn--outline:focus, input[type=reset]:hover, input[type=reset]:focus {
  --btn--color: var(--color--accent);
}

input, textarea, select {
  font: var(--font-weight--base) var(--font-size) var(--font-family--base);
  border: var(--inp--border-width) solid var(--inp--border-color);
  padding: calc(var(--inp--padding-y) - var(--inp--border-width)) calc(var(--inp--padding-x) - var(--inp--border-width));
  line-height: var(--inp--line-height);
  border-radius: var(--inp--border-radius);
  color: var(--inp--color);
  background: var(--inp--background);
  font-family: var(--inp--font-family);
  font-weight: var(--inp--font-weight);
  font-style: var(--inp--font-style);
  font-size: var(--inp--font-size);
  letter-spacing: var(--inp--letter-spacing);
}

/*
 * DO NOT EDIT THIS FILE.
 * See the following change record for more information,
 * https://www.drupal.org/node/2815083
 * @preserve
 */
/**
 * Messages.
 *
 * @todo revisit this after https://www.drupal.org/project/drupal/issues/3078400
 *   has been resolved.
 */
:root {
  /*
   * Color Palette.
   */
  /* Secondary. */
  /* Variations. */
  /* 5% darker than base. */
  /* 10% darker than base. */
  /* 10% darker than base. */
  /* 20% darker than base. */
  /* 5% darker than base. */
  /* 10% darker than base. */
  /* 5% darker than base. */
  /* 10% darker than base. */
  /* 5% darker than base. */
  /* 10% darker than base. */
  /*
   * Base.
   */
  /*
   * Typography.
   */
  /* 1rem = 16px if font root is 100% ands browser defaults are used. */
  /* ~32px */
  /* ~29px */
  /* ~26px */
  /* ~23px */
  /* ~20px */
  /* 18px */
  /* ~14px */
  /* ~13px */
  /* ~11px */
  /**
   * Spaces.
   */
  /* 3 * 16px = 48px */
  /* 1.5 * 16px = 24px */
  /* 1 * 16px = 16px */
  /* 0.75 * 16px = 12px */
  /* 0.5 * 16px = 8px */
  /*
   * Common.
   */
  /*
   * Inputs.
   */
  /* Absolute zero with opacity. */
  /* Davy's grey with 0.6 opacity. */
  /* Light gray with 0.3 opacity on white bg. */
  /* Old silver with 0.5 opacity on white bg. */
  /* (1/8)em ~ 2px */
  /* (1/16)em ~ 1px */
  /* Font size is too big to use 1rem for extrasmall line-height */
  /* 7px inside the form element label. */
  /* 8px with the checkbox width of 19px */
  /*
   * Details.
   */
  /**
   * Buttons.
   */
  /**
   * jQuery.UI dropdown.
   */
  /* Light gray with 0.8 opacity. */
  /* Text color with 0.1 opacity. */
  /**
   * Progress bar.
   */
  /**
   * Tabledrag icon size.
   */
  /* 17px */
  /**
   * Ajax progress.
   */
  /**
   * Breadcrumb.
   */
}

.messages-list {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  padding: 0;
  list-style: none;
}

.field .messages-list,
.form-wrapper .messages-list {
  margin-bottom: 0;
}

.messages {
  box-sizing: border-box;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1.5rem 1.5rem 2rem calc(1.5rem - 5px);
  /* LTR */
  color: #fff;
  border-width: 0 0 0 5px;
  /* LTR */
  border-style: solid;
  border-color: #353641;
  border-radius: 2px;
  background-color: #353641;
}

[dir=rtl] .messages {
  padding-right: calc(1.5rem - 5px);
  padding-left: 1.5rem;
  border-right-width: 5px;
  border-left-width: 0;
}

.messages--error {
  border-color: #e34f4f;
}

.messages--status {
  border-color: #42a877;
}

.messages--warning {
  border-color: #e0ac00;
}

.messages__title {
  margin: 0 0 0 2.5rem;
  /* LTR */
  font-size: 1rem;
}

[dir=rtl] .messages__title {
  margin-right: 2.5rem;
  margin-left: 0;
}

.messages--error .messages__header {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 14 14'%3E%3Cpath d='M3 11.1931L11.4501 2.99995' stroke='%23e34f4f' stroke-width='2'/%3E%3Ccircle cx='7' cy='7' r='6' fill='none' stroke='%23e34f4f' stroke-width='2'/%3E%3C/svg%3E%0A") no-repeat center left;
  /* LTR */
}

[dir=rtl] .messages--error .messages__header {
  background-position: center right;
}

.messages--status .messages__header {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 13'%3E%3Cpath d='M2 6.57143L5.6 10L14 2' fill='none' stroke='%2342a877' stroke-width='3'/%3E%3C/svg%3E%0A") no-repeat center left;
  /* LTR */
}

[dir=rtl] .messages--status .messages__header {
  background-position: center right;
}

.messages--warning .messages__header {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 4 14' fill='%23e0ac00'%3E%3Crect x='0.5' width='3' height='9'/%3E%3Ccircle cx='2' cy='12.5' r='1.5'/%3E%3C/svg%3E%0A") no-repeat center left;
  /* LTR */
}

[dir=rtl] .messages--warning .messages__header {
  background-position: center right;
}

.messages__header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

@media screen and (min-width: 48rem) {
  .messages__content {
    margin-left: 2.5rem;
    /* LTR */
  }

  [dir=rtl] .messages__content {
    margin-right: 2.5rem;
    margin-left: 0;
  }
}
.messages a {
  text-decoration: underline;
  color: #ffd23f;
}

.messages a:hover {
  color: #fff;
}

.messages pre {
  margin: 0;
}

.messages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.messages__item + .messages__item {
  margin-top: 0.75rem;
}

@media screen and (-ms-high-contrast: active) {
  .messages {
    border-width: 1px 1px 1px 5px;
    /* LTR */
  }

  [dir=rtl] .messages {
    border-right-width: 5px;
    border-left-width: 1px;
  }

  .messages__header {
    filter: grayscale(1) brightness(1.5) contrast(10);
  }
}
#messages-list {
  --font-family: var(--font-family--system);
  --color--background: #353641;
  --color--foreground: white;
  --color--highlight: white;
  --color--accent: #ffd23f;
  --anchor--text-decoration: underline;
}
#messages-list .messages {
  color: var(--color--foreground);
  background-color: var(--color--background);
}
#messages-list a {
  color: var(--color--highlight);
}
#messages-list a:hover, #messages-list a:focus {
  color: var(--color--accent);
}

#body--login {
  --color--background--semitransparent: rgba(0,0,0,0.5);
  --color--primary: #ba1f2c;
  --color--primary-accent: #9e1a25;
  --color--primary-inverse: white;
  --color--foreground: white;
  --color--background: var(--color--background--semitransparent);
  --color--highlight: white;
  --color--accent: #ffd23f;
  --font-family-base: var(--font-family--system);
  --font-style-base: normal;
  --font-weight-base: 400;
  --font-weight-bold: 700;
  --font-style--base: normal;
  --font-size: 18px;
  --line-height: 1.4;
  --letter-spacing: normal;
  --btn--border-width--base: 1px;
  --btn--padding-x: 1em;
  --btn--padding-y: 0.5em;
  --btn--border-radius: 0;
  --btn--border-color: transparent;
  --inp--padding-x: 0.5em;
  --inp--padding-y: 0.25em;
  --login--sidepadding: 1em;
  --login--innerpadding: 2em;
  --anchor--text-decoration: underline;
  background-image: url(../../../contrib/wt_frontend/images/login/background.jpg);
  background-size: cover;
}
#body--login .dialog-off-canvas-main-canvas, #body--login .wt__theme, #body--login .wt__main {
  height: 100%;
}
#body--login .wt__main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
}
#body--login .login__header {
  margin: 0 auto;
  padding: 10vh var(--login--sidepadding) 10vh;
}
#body--login .login__logo {
  display: block;
  width: 400px;
  max-width: 100%;
}
#body--login #messages-list {
  --color--background: var(--color--background--semitransparent);
}

#user-login-form, #user-pass, #user-register-form, #user-pass-reset, #body--login #messages-list {
  width: 500px;
  max-width: calc(100vh - 2 * var(--login--sidepadding));
  margin: 0 auto;
}

#user-login-form, #user-pass, #user-register-form, #user-pass-reset {
  background-color: var(--color--background);
  color: white;
  padding: var(--login--innerpadding);
}
#user-login-form > * + *, #user-pass > * + *, #user-register-form > * + *, #user-pass-reset > * + * {
  margin-top: var(--login--innerpadding);
}
#user-login-form label, #user-pass label, #user-register-form label, #user-pass-reset label {
  font-weight: bold;
  padding-bottom: 0.5em;
}
#user-login-form input, #user-pass input, #user-register-form input, #user-pass-reset input {
  display: block;
  width: 100%;
}
#user-login-form input[type=submit], #user-login-form input[type=button], #user-pass input[type=submit], #user-pass input[type=button], #user-register-form input[type=submit], #user-register-form input[type=button], #user-pass-reset input[type=submit], #user-pass-reset input[type=button] {
  text-transform: uppercase;
}
#user-login-form input.error, #user-pass input.error, #user-register-form input.error, #user-pass-reset input.error {
  color: #721c24;
  background-color: #f1e8e9;
}
#user-login-form input a, #user-pass input a, #user-register-form input a, #user-pass-reset input a {
  color: white;
  text-decoration: underline;
}
#user-login-form input a:hover, #user-login-form input a:focus, #user-pass input a:hover, #user-pass input a:focus, #user-register-form input a:hover, #user-register-form input a:focus, #user-pass-reset input a:hover, #user-pass-reset input a:focus {
  color: #e3e580;
}
#user-login-form .description, #user-pass .description, #user-register-form .description, #user-pass-reset .description {
  display: none;
}

.block {
  position: relative;
}

.bc-image__image_zoom {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.area--vertical-align-stretch .bc-image .field__item--media_image {
  display: flex;
}
.area--vertical-align-stretch .bc-image .field__item--media_image img {
  object-fit: cover;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.visually-hidden, .sr-only {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px) !important;
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.fluid {
  display: block;
  width: 100%;
  height: auto;
}

.responsive {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
}

.hidden {
  display: none !important;
}

@media (max-width: 767px) {
  .hidden\@xs {
    display: none !important;
  }
}
.hidden\@xs-up {
  display: none !important;
}

@media (max-width: 767px) {
  .hidden\@xs-down {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .hidden\@sm {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .hidden\@sm-up {
    display: none !important;
  }
}
@media (max-width: 1023px) {
  .hidden\@sm-down {
    display: none !important;
  }
}
@media (min-width: 1024px) and (max-width: 1319px) {
  .hidden\@md {
    display: none !important;
  }
}
@media (min-width: 1024px) {
  .hidden\@md-up {
    display: none !important;
  }
}
@media (max-width: 1319px) {
  .hidden\@md-down {
    display: none !important;
  }
}
@media (min-width: 1320px) {
  .hidden\@lg {
    display: none !important;
  }
}
@media (min-width: 1320px) {
  .hidden\@lg-up {
    display: none !important;
  }
}
.hidden\@lg-down {
  display: none !important;
}

/*# sourceMappingURL=wt_theme.css.map */
